<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key="RestAPI" value="http://localhost:1208/api" />
    <add key="DataSem" value="01.10.2018" />
  </appSettings>
  
</configuration>